/* app css stylesheet */

/* this removes the corner radius on all containers in bootstrap */
* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body
{
    overflow-x: hidden;
    overflow-y: no-content;
    margin: 0;
    padding: 0;
}

.thumb {
  float: left;
  margin: -1em -1em -1em 0em;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
  height: 30px;
  width: 30px;
}

.messages-top
{
    position: absolute;
    top: 75px;
    width: 100%;
}

.messages
{
    position: absolute;
    top: 140px;
    bottom: 75px;
    width: 100%;
    overflow-y: auto;
}

.messages div {
  height: 50px;
  padding-top: 15px;
}

.help
{
    position: absolute;
    top: 75px;
    bottom: 75px;
    width: 100%;
    overflow-y: auto;
   
}

.help div {
  clear: both;
  height: 30px;
  padding-top: 15px;
  border: 1px solid #CCCCCC ;
}

.imgbox
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:100%;
    border:transparent;
    background-color: transparent;
    padding-top:10px;
    padding-right:10px;
}

.top-nav
{
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    background: #0074cc;
    height: 50px;
}

.bottom-nav
{
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #000000; 
    height: 72.5px;
    color: #dddddd;
}

.invisibleDivButton { width: 30%; position: absolute;  }

.listContainer 
{
    display: block;
    padding: 4px;
    line-height: 1;
    border: 0px  #ddd none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.listContainer > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.page {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
}

.forward-enter, 
.forward-leave,
.backward-enter, 
.backward-leave
{ 
    -webkit-transition: 500ms cubic-bezier(0.175, 0.500, 0.700, 1.000) all;
    -moz-transition: 500ms cubic-bezier(0.175, 0.500, 0.700, 1.000) all;
    -ms-transition: 500ms cubic-bezier(0.175, 0.500, 0.700, 1.000) all;
    -o-transition: 500ms cubic-bezier(0.175, 0.500, 0.700, 1.000) all;
    transition: 500ms cubic-bezier(0.175, 0.500, 0.700, 1.000) all;
} 

.forward-leave {
  left:0;
}
.forward-leave.forward-leave-active{
  left:-100%;
}
 
.forward-enter {
  left:100%;
}
.forward-enter.forward-enter-active {
  left:0;
}
  
.backward-leave {
  left:0;
}
.backward-leave.backward-leave-active{
  left:100%;
}

.backward-enter {
  left:-100%;
}
.backward-enter.backward-enter-active {
  left:0;
}

@media (max-width: 600px) 
{
    body .modal {
        width: 75%;
        max-height: 90%;
        margin-left: -35%;
    }
    .modal-header {
        padding: 3px 5px 0px 5px;
    }
    .modal-body {
        max-height: none;
    }
}




