@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "source-l";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "source-sb";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff url("../img/bg_dark.png") repeat-x;
  color: #000;
  font: 16px "Source Sans", helvetica, arial, sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

.topcoat-icon--menu-stack {
  background: url("../img/hamburger_light.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.quarter {
  width: 25%;
}
.half {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.third {
  width: 33.333%;
}
.two-thirds {
  width: 66.666%;
}
.full {
  width: 100%;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.reset-ui {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 Button
 ------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-button">Button</a>
    <a class="topcoat-button is-active">Button</a>
    <a class="topcoat-button is-disabled">Button</a>
*/
.topcoat-button,
.topcoat-button--quiet,
.topcoat-button--large,
.topcoat-button--large--quiet,
.topcoat-button--cta,
.topcoat-button--large--cta {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1.25rem;
  font-size: 16px;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  vertical-align: top;
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.12);
  box-shadow: inset 0 1px rgba(255,255,255,0.12);
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.topcoat-button:active,
.topcoat-button.is-active,
.topcoat-button--large:active,
.topcoat-button--large.is-active {
  background-color: #404141;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}
.topcoat-button:disabled,
.topcoat-button.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Quiet Button
 ------------

 :active - Quiet button active state

 .is-active - Simulates active state for a quiet button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--quiet">Button</a>
    <a class="topcoat-button--quiet is-active">Button</a>
    <a class="topcoat-button--quiet is-disabled">Button</a>
*/
.topcoat-button--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.topcoat-button--quiet:active,
.topcoat-button--quiet.is-active,
.topcoat-button--large--quiet:active,
.topcoat-button--large--quiet.is-active {
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  background-color: #404141;
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}
.topcoat-button--quiet:disabled,
.topcoat-button--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Button
 ------------

 :active - Active state

 .is-active - Simulates active state touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--large" >Button</a>
    <a class="topcoat-button--large is-active" >Button</a>
    <a class="topcoat-button--large is-disabled" >Button</a>
*/
.topcoat-button--large,
.topcoat-button--large--quiet {
  font-size: 1.3rem;
  line-height: 4rem;
}
.topcoat-button--large:disabled,
.topcoat-button--large.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Quiet Button
 ------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--large--quiet" >Button</a>
    <a class="topcoat-button--large--quiet is-active" >Button</a>
    <a class="topcoat-button--large--quiet is-disabled" >Button</a>
*/
.topcoat-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.topcoat-button--large--quiet:disabled,
.topcoat-button--large--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Call To Action Button
 ---------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--cta" >Button</a>
    <a class="topcoat-button--cta is-active" >Button</a>
    <a class="topcoat-button--cta is-disabled" >Button</a>

*/
.topcoat-button--cta,
.topcoat-button--large--cta {
  border: 1px solid #143250;
  background-color: #288edf;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.36);
  box-shadow: inset 0 1px rgba(255,255,255,0.36);
  color: #fff;
  font-weight: 500;
  text-shadow: 0 -1px rgba(0,0,0,0.36);
}
.topcoat-button--cta:active,
.topcoat-button--cta.is-active,
.topcoat-button--large--cta:active,
.topcoat-button--large--cta.is-active {
  background-color: #1976c3;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-button--cta:disabled,
.topcoat-button--cta.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Call To Action Button
 ---------------------------

 :active - Active state

 .is-active - Simulates active state touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--large--cta" >Button</a>
    <a class="topcoat-button--large--cta is-active" >Button</a>
    <a class="topcoat-button--large--cta is-disabled" >Button</a>
*/
.topcoat-button--large--cta {
  font-size: 1.3rem;
  line-height: 4rem;
}
.topcoat-button--large-cta:disabled,
.topcoat-button--large--cta.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 Icon Button
 -----------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-icon-button">
        <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button is-active">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button is-disabled">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
*/
.topcoat-icon-button,
.topcoat-icon-button--quiet,
.topcoat-icon-button--large,
.topcoat-icon-button--large--quiet {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.75rem;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  vertical-align: baseline;
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.12);
  box-shadow: inset 0 1px rgba(255,255,255,0.12);
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.topcoat-icon-button:active,
.topcoat-icon-button.is-active {
  background-color: #404141;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}
.topcoat-icon-button:disabled,
.topcoat-icon-button.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Quiet Icon Button
 -----------------

 :active - Button active state

 .is-active - Simulates active state for a button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-icon-button--quiet">
        <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--quiet is-active">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--quiet is-disabled">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
*/
.topcoat-icon-button--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.topcoat-icon-button--quiet:active,
.topcoat-icon-button--quiet.is-active,
.topcoat-icon-button--large--quiet:active,
.topcoat-icon-button--large--quiet.is-active {
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  background-color: #404141;
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}
.topcoat-icon-button--quiet:disabled,
.topcoat-icon-button--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Icon Button
 -----------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-icon-button--large">
        <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large is-active">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large is-disabled">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>
*/
.topcoat-icon-button--large,
.topcoat-icon-button--large--quiet {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
}
.topcoat-icon-button--large:active,
.topcoat-icon-button--large.is-active {
  background-color: #404141;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}
.topcoat-icon-button--large:disabled,
.topcoat-icon-button--large.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Quiet Icon Button
 -----------------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-icon-button--large--quiet">
        <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large--quiet is-active">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large--quiet is-disabled">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>
*/
.topcoat-icon-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.topcoat-icon-button--large--quiet:disabled,
.topcoat-icon-button--large--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.topcoat-icon,
.topcoat-icon--large {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
.topcoat-icon--large {
  width: 2.5rem;
  height: 2.5rem;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 List
 ------------

    <div class="topcoat-list__container">
      <h3 class="topcoat-list__header">Category</h3>
      <ul class="topcoat-list">
        <li class="topcoat-list__item--first">
          Item
        </li>
        <li class="topcoat-list__item">
          Item
        </li>
        <li class="topcoat-list__item">
          Item
        </li>
      </ul>
    </div>

*/
.topcoat-list__container {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #2f3234;
  border-bottom: 1px solid #eff1f1;
  background-color: #444849;
}
.topcoat-list__header {
  margin: 0;
  padding: 4px 20px;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #3b3e40;
  color: #868888;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(255,255,255,0.05);
}
.topcoat-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #2f3234;
  color: #c6c8c8;
}
.topcoat-list__item,
.topcoat-list__item--first {
  margin: 0;
  padding: 0;
  padding: 1.25rem;
  border-top: 1px solid #5e6061;
  border-bottom: 1px solid #2f3234;
}
.topcoat-list__item--first {
  border-top: 1px solid rgba(0,0,0,0.05);
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
Navigation Bar
--------------

    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet">
              <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Header</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet">
              <span class="topcoat-icon topcoat-icon--edit"></span>
            </a>
        </div>
    </div>
*/
.topcoat-navigation-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #595b5b;
  color: #fff;
  -webkit-box-shadow: inset 0 -1px #333434, 0 1px rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px #333434, 0 1px rgba(0,0,0,0.15);
}
.topcoat-navigation-bar__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  margin: var-margin;
  line-height: 4rem;
  vertical-align: top;
}
.topcoat-navigation-bar__title {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 Search Input
 ------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search" value="" placeholder="search" class="topcoat-search-input">
    <input type="search is-disabled" value="" placeholder="search" class="topcoat-search-input">

 */
.topcoat-search-input,
.topcoat-search-input--large {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.25rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 5px;
  height: 3rem;
  font: inherit;
  font-weight: 200;
  outline: none;
  border: 1px solid rgba(0,0,0,0.36);
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
  color: #c6c8c8;
  -webkit-appearance: none;
  padding: 0 0 0 2.7em;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-image: url("../img/search_light.svg");
  background-position: 1em center;
  background-repeat: no-repeat;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
}
.topcoat-search-input:focus,
.topcoat-search-input--large:focus {
  background-color: #fff;
  color: #363636; /*holly*/
  color: var-color-focus;
}
.topcoat-search-input::-webkit-search-cancel-button,
.topcoat-search-input::-webkit-search-decoration {
  margin-right: 5px;
}
.topcoat-search-input:focus::-webkit-input-placeholder,
.topcoat-search-input:focus::-webkit-input-placeholder {
  color: #c6c8c8;
}
.topcoat-search-input:disabled,
.topcoat-search-input.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Search Input
 ------------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search"  value="" placeholder="search" class="topcoat-search-input--large">
    <input type="search"  value="" placeholder="search" class="topcoat-search-input--large .is-disabled">

*/
.topcoat-search-input--large {
  height: 4rem;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 2.8em;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-position: 1.2em center;
  -webkit-background-size: 1.3rem;
  -moz-background-size: 1.3rem;
  background-size: 1.3rem;
}
.topcoat-search-input--large:disabled,
.topcoat-search-input--large.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 Text Input
 ----------

:disabled - Disabled state
.is-disabled - Simulates a disabled state on mobile devices

    <input type="text" class="topcoat-text-input" value="" placeholder="text">
    <input type="text" class="topcoat-text-input is-disabled" value="" placeholder="text">

*/
.topcoat-text-input,
.topcoat-text-input--large {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.25rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 5px;
  height: 3rem;
  font: inherit;
  font-weight: 200;
  outline: none;
  border: 1px solid rgba(0,0,0,0.36);
  background-color: #595b5b;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
  color: #c6c8c8;
}
.topcoat-text-input:focus {
  background-color: #fff;
  color: #000;
}
.topcoat-text-input:disabled,
.topcoat-text-input.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Text Input
 ----------------

:disabled - Disabled state
.is-disabled - Simulates a disabled state on mobile devices

    <input type="text" class="topcoat-text-input--large" value="" placeholder="text">
    <input type="text" class="topcoat-text-input--large is-disabled" value="" placeholder="text">
*/
.topcoat-text-input--large {
  height: 4rem;
  font-size: 1.3rem;
}
.topcoat-text-input--large:focus {
  background-color: #fff;
  color: #000;
}
.topcoat-text-input--large.is-disabled,
.topcoat-text-input--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

/** ADDED FROM TOPCOAT OVERLAY PROJECT **/
/*


Use this class to create a dialog element. Make sure to apply ".topcoat-overlay-bg" an empty div on the page as well,
so that the dialog is resting on a dark, transparent background

	<div class="topcoat-overlay-bg"></div>
	<aside class="topcoat-overlay">
		<h1>Are eagles nice ?</h1>
		<div class="topcoat-overlay-buttons">
			<button role="button" class="topcoat-button">No</button>
			<button role="button" class="topcoat-button--cta">Yes</button>
		</div>
	</aside>

*/
.topcoat-overlay {
    width: 50%;
    height: auto;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    margin: 20%;
    padding: 20px 10px;
    border-radius: 6px;
    background-color: #e5e9e8;
    border: 1px solid #a5a8a8;
    text-align: center;
}
.topcoat-overlay h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d7d7;
}
.topcoat-overlay-bg {
    position: absolute;
    z-index: 5;
    background-color: rgba(88,90,92,0.7);
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 115px 0px #000;
}
.topcoat-overlay-buttons {
    margin-top: 20px;
}
.topcoat-overlay-buttons .topcoat-button,
.topcoat-overlay-buttons .topcoat-button--cta {
    margin: 5px;
}