<div class="bottom-nav navbar-fixed-bottom">
    
    <div>

        <div class="row-fluid">
            <div class="span6">
                <div class="pagination-centered" style="padding-top: 10px;" ng-click="doTransition( homeTransition , '/home' )">
                   <img src="img/homeIconUp.png"/>
                   <br/>Home
               </div>

            </div>

            <div class="span6">
                <div class="pagination-centered" style="padding-top: 10px;" ng-click="doTransition(  helpTransition , '/help' )">
                   <img src="img/helpIconUp.png"/>
                    <br/>Help
               </div>

           </div>
       </div>

    </div>
    
</div>
