
<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Confirm deletion</h3>
</div>

<div class="modal-body">
    <p>Do you want to delete this message?</p>		        
</div>

<div class="modal-footer inline">
  <a href="#" class="btn btn-primary btn-large pull-left" data-dismiss="modal" ng-click="toggleSelectedMessageIsActive( null , true )">   No   </a>
  <a href="#" class="btn btn-primary btn-large pull-left" data-dismiss="modal" ng-click="deleteMessage()">   Yes   </a>
</div>
