
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Information</h3>
    </div>

    <div class="modal-body">
        <p>Plan information is updated periodically. The content in this application is based on plan information valid through December 31, 2013.
        <br/><br/>
        The most accurate information is posted at HCArewards.com or available by contacting your benefits plan provider. 
        If you are an employee at a facility with a collective bargaining agreement or a facility that
        mirrors the benefits of a facility with a collective bargaining agreement, not all of the information here 
        may apply to you or it may apply to you in a modified manner.
        <br/><br/>Log in to HCArewards.com or call your benefits plan provider for details about the plan that applies to you.</p>		        
    </div>

    <div class="modal-footer">
      <a href="#" class="btn btn-primary btn-large pull-left" data-dismiss="modal">   Ok   </a>
    </div>

