<div class="top-nav navbar-fixed-top" >

    <div class="navbar-form pull-left" ng-show="showBackButton">
        <div class="imgbox" style="width: 30px; height: 20px" ng-click="doTransition( 'backward' , backURL )">
            <a  role="button" ><img src="img/topLeftArrowNavIconUp.png"/></a>
        </div>
    </div>

    <div class="navbar-form pull-right">
        <div class="imgbox" style="width: 30px; height: 20px ;" role="button" data-toggle="modal" ng-click="openInformation()" >
            <a><img src="img/infoIconUp.png"/></a>
        </div>
    </div>

 </div>
