<div class="page"
     ng-swipe-right="doTransition(  'backward' , '/help' )"
     >      
    
    <div class="modal hide fade in" ng-include="'view/includes/information-modal.html'" id="information"></div>
    
    <div ng-include="'view/includes/top-navigation-bar.html'"/>
    
      <div class="help">
          <h3 ng-bind-html-unsafe='question.questionLabel'></h3>
          <hr/>
          <p ng-bind-html-unsafe='question.questionContent'></p>
      </div>
    
     <div ng-include="'view/includes/bottom-navigation-bar.html'"/>
      
</div>