<div class="page" 
     ng-swipe-right="doTransition(  'backward' , '/home' )"
     >      
    
    <div class="modal hide fade in" ng-include="'view/includes/information-modal.html'" id="information"></div>
    
    <div ng-include="'view/includes/top-navigation-bar.html'"/>
    
    <div class="help">
          <h3>Help</h3>
          <hr/>
          
          <h3>{{topicLabel0}}</h3>
          <hr/>
          <span ng-repeat="topicQuestion0 in topicQuestions0" class="listContainer">
              <div class="invisibleDivButton" style="height: 10px; border: 0px #ffffff none;" ng-click="updateSelectedQuestion( topicQuestion0 )"/>
              <h5>{{topicQuestion0.questionLabel}}</h5>
              <hr/>
          </span>
          <br/>
          
          <h3>{{topicLabel1}}</h3>
          <hr/>
          <span ng-repeat="topicQuestion1 in topicQuestions1" class="listContainer">
              <div class="invisibleDivButton" style="height: 10px; border: 0px #ffffff none;" ng-click="updateSelectedQuestion( topicQuestion1 )"/>
              <h5>{{topicQuestion1.questionLabel}}</h5>
              <hr/>
          </span>
          
      </div>
    
    <div ng-include="'view/includes/bottom-navigation-bar.html'"/>
      
</div>