<div class="page" ng-swipe-left="doTransition(  'forward' , '/help' )">      
    
    <div class="modal hide fade in" ng-include="'view/includes/information-modal.html'" id="information"></div>
    <div class="modal hide fade in" ng-include="'view/includes/delete-confirmation-modal.html'" id="deleteConfirmation"></div>
    
    <div ng-include="'view/includes/top-navigation-bar.html'" ng-swipe-left="doTransition( homeTransition , '/help' )"/>
    
    <hr/>
    
    <div class="messages-top">
        <hr/>
        <div class="pull-right" style="width: 75px; height: 27px ; padding-right: 20px" ng-show="!isHomeEditable" role="button" ng-click="toggleEditableState( true )" >
            <a><img ng-src="img/editButtonIconDown.png"/></a>
        </div>
        <div class="pull-right" style="width: 75px; height: 27px ; padding-right: 20px" ng-show="isHomeEditable" role="button" ng-click="toggleEditableState( false )" >
            <a><img ng-src="img/cancelIconDown.png"/></a>
        </div>
    </div>
        
    <div class="messages">
        <hr/>       
        <span ng-repeat="message in messages | orderBy:'date':true" class="listContainer">
           <div class="thumb" ng-show="!isHomeEditable">
            <img id="imgUnread" src="img/messageReadFalseIconUp.png" ng-show="!message.isRead" ng-click="updateSelectedMessage( message )"/>
            <img id="imgRead" src="img/messageReadTrueIconUp.png" ng-show="message.isRead" ng-click="updateSelectedMessage( message )"/>               
           </div>
           <div class="thumb" ng-show="isHomeEditable">
               <img src="img/isActiveFalseTrashIcon.png" ng-show="!message.isActive" ng-click=""/>      
               <img src="img/isActiveTrueTrashIcon.png" ng-show="message.isActive" ng-click="toggleSelectedMessageIsActive( message , false );openMessageDeleteConfirmation();"/>      
           </div>
          <p ng-click="updateSelectedMessage( message )">{{ message.date | date:'MMMM dd yyyy' }}</p>
          <a ng-click="updateSelectedMessage( message )">{{message.title}}</a> 
          <hr/>
      </span>
    </div>
    
    <div ng-include="'view/includes/bottom-navigation-bar.html'"/>
    
</div>
