<div class="page" 
     ng-swipe-left="doTransition(  'forward' , '/help' )"
     ng-swipe-right="doTransition(  'backward' , '/home' )"
     >    
    
    <div class="modal hide fade in" ng-include="'view/includes/information-modal.html'" id="information"></div>
    <div class="modal hide fade in" ng-include="'view/includes/delete-confirmation-modal.html'" id="deleteConfirmation"></div>
    
    <div ng-include="'view/includes/top-navigation-bar.html'"/>
    
    <div style="top: 100px; width: 100%; position: absolute">
        <div class="pull-right" style="width: 30px; height: 20px ; padding-right: 10px;" role="button" data-toggle="modal" ng-click="openMessageDeleteConfirmation()" >
            <a><img src="img/isActiveFalseTrashIcon.png"/></a>
        </div>
    </div>
            
    <div class="messages">
        <h3>{{ message.date | date:'MMMM dd yyyy' }}</h3>
        <hr/>
        <h4>{{message.title}}</h4>
        <br/>
        <p>{{message.content}}</p>        
    </div>
    
    <div ng-include="'view/includes/bottom-navigation-bar.html'"/>
      
</div>

